{% extends 'accueil.html.twig' %}

{% block title %}Chargement{% endblock %}

{% block body %}
    {% for message in app.session.flashBag.get('success') %}
        <div id="flash-message" class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.session.flashBag.get('danger') %}
        <div id="flash-message" class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <div class="container col-md-12">

        <div class="card ">
            <div class="card-header">Liste des commandes</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <tr>
                            <th>N.Facture</th>
                            <th>Nbre</th>
                            <th>Client</th>
                            <th>Adresse</th>
                            <th>Téléphone</th>
                            <th>Total</th>
                            <th>Date</th>
                            <th>Statut</th>
                            <th>Action</th>
                        </tr>
                        {% for c in pagination %}
                            <tr>
                                <th>{{ c.numeroFacture }}</th>
                                <th>{{ c.nombre }}</th>
                                <th>{{ c.nomClient }}</th>
                                <th>{{ c.adresse }}</th>
                                <th>{{ c.telephone }}</th>
                                <th>{{ c.total }}</th>
                                <th>{{ c.date | date('d/m/Y') }}</th>
                                <th style="color: {% if c.statut == 'payée' %} green {% elseif c.statut == 'impayé' %} red {% elseif c.statut == 'En cours' %} orange {% elseif c.statut == 'avance' %} rgba(226,103,9,0.88) {% endif %}">
                                    {{ c.statut }}
                                </th>

                                <th>
                                    <a class="popup-link btn btn-primary {% if c.statut == 'payée' %} disabled {% endif %}" title="Options de Paiement" href="#" data-toggle="modal" data-target="#userModal" data-id="{{ c.id }}">
                                        <i class="fa fa-money-bill-alt"></i>
                                    </a>
                                    <a class="popup-link btn btn-primary" title="Ouverture de Facture Client" href="javascript:void(0);" onclick="openPopup('{{ path('extraire', {'id': c.id}) }}')"><i class="fa fa-download"></i></a>
                                    <a class="popup-link btn btn-primary" title="Génération de Facture Client en PDF" href="{{ path('pdf', {'id':c.id}) }}"><i class="fa fa-file-pdf"></i></a>
                                    <a class="popup-link btn btn-primary" title="Facturier" href="#" data-toggle="modal" data-target="#userModal1" data-user-id="{{ c.id }}">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </a>

                                    {% if is_granted('ROLE_GESTION_STOCK') %}
                                    <a class="popup-link btn btn-primary" title="supprimer" href="{{ path('chargement_delete', {'id':c.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette facture ?');"><i style="color: red" class="fa fa-trash" aria-hidden="true"></i></a>
                                    {% endif %}
                                </th>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">Aucun enregistrement trouvé</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>


    <!-- ... USER ... -->
    <div class="modal fade" id="userModal1" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="user-modal-body text-center">
                    <!-- Contenu de l'utilisateur sera affiché ici -->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">Options de Paiement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <form id="paymentForm" method="POST" action="{{ path('statut', {'id': 0}) }}">
                        <div class="form-group">
                            <label for="priceInput">Ajouter un prix</label>
                            <input type="number" class="form-control" placeholder="Payer la totalité ou un acompte." id="priceInput" name="price" required>
                        </div>
                        <button type="submit" class="btn btn-primary">OK</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal HTML pour extraire -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Détails de la Facture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Contenu de la table sera injecté ici -->
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script>
        setTimeout(function() {
            var flashMessage = document.getElementById('flash-message');
            if (flashMessage !== null) {
                flashMessage.remove();
            }
        }, 5000);
    </script>

    <script>



        $(document).ready(function() {
            $('a[data-toggle="modal"][data-target="#userModal1"]').click(function(e) {
                e.preventDefault();

                var userId = $(this).data('user-id');

                axios.get('/chargement/user/' + userId)
                    .then(function(response) {
                        var user = response.data.user;

                        // Afficher les données dans la fenêtre modale
                        $('#userModal1 .user-modal-body').text(user);
                        $('#userModal1').modal('show');
                    })
                    .catch(function(error) {
                        console.error(error);
                    });
            });
        });
    </script>


    <script>
        function openPopup(url) {
            // Effectuer une requête AJAX pour récupérer le contenu de la table
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    // Injecter le contenu dans le modal Bootstrap
                    const modalBody = document.getElementById('myModal').querySelector('.modal-body');
                    modalBody.innerHTML = data.table;

                    // Afficher le modal
                    $('#myModal').modal('show');
                })
                .catch(error => console.error('Error:', error));
        }

    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('#userModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var chargementId = button.data('id');
                var form = document.getElementById('paymentForm');
                form.action = form.action.replace('/0', '/' + chargementId);
            });
        });
    </script>


{% endblock %}
