{% extends 'accueil.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    {% for message in app.session.flashBag.get('success') %}
        <div id="flash-message" class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.session.flashBag.get('danger') %}
        <div id="flash-message" class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    
    <div class="row">
        <div class="container col-md-8">

            <div class="card ">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                        <thead>
                            <tr>
                                <th>Client</th>
                                <th>Adresse</th>
                                <th>Telephone</th>
                                <th>action</th>
                            </tr>
                        </thead
                            {% for c in pagination %}
                                <tr>
                                    <td>{{ c.nom }}</td>
                                    <td>{{ c.adresse }}</td>
                                    <td>{{ c.telephone }}</td>
                                    <td>
                                        {# <a class="btn btn-primary btn-circle btn-sm" title="Modifier" href="{{ path('edit_client',{'id':c.id}) }}"><i class="fa fa-edit"></i></a> #}
                                        {% if is_granted('ROLE_GESTION_STOCK') %}
                                        <a class="btn btn-danger btn-circle btn-sm" title="supprimer" href="{{ path('client_delete', {'id':c.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Aucun enregistrement trouvé</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
        <div class="container col-md-4">
            {% for message in app.session.flashBag.get('warning') %}
                <div id="flash-message" class="alert alert-warning">{{ message }}</div>
            {% endfor %}

            <div class="card">
                <div class="card-header">Formulaire de gestion des clients</div>
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script>
        setTimeout(function() {
            var flashMessage = document.getElementById('flash-message');
            if (flashMessage !== null) {
                flashMessage.remove();
            }
        }, 10000);
    </script>
{% endblock %}